@import "tailwindcss";

:root{
  --color-bg-primary: oklch(97.015% 0.00011 271.152);
  --color-bg-ui:oklch(61.401% 0.24509 28.62);
  --color-text-titles:oklch(95.01% 0.03727 71.179);
  --color-text-second:oklch(26.448% 0.00003 271.152);
  --color-text-primary:oklch(20.904% 0.00002 271.152);

  /* dark */
  --color-bg-primary-dark: oklch(20.019% 0.00002 271.152);
  --color-bg-ui-dark:oklch(27.274% 0.00003 271.152);
  --color-text-titles-dark:oklch(92.727% 0.00322 15.415);
  --color-text-second-dark:oklch(39.418% 0.00004 271.152);
  --color-text-primary-dark:oklch(100% 0.00011 271.152);
}

@theme{
--color-bg-primary: var(--color-bg-primary);
--color-bg-ui:var(--color-bg-ui);
--color-bg-nav:var(--color-bg-nav);
--color-text-titles:var(--color-text-titles);
--color-text-second:var(--color-text-second);
--color-text-primary:var(--color-text-primary);
}

@custom-variant dark (&:is(.dark *));

.dark{
   --color-bg-primary: var(--color-bg-primary-dark);
  --color-bg-ui: var(--color-bg-ui-dark);
  --color-text-titles: var(--color-text-titles-dark);
  --color-text-second: var(--color-text-second-dark);
  --color-text-primary: var(--color-text-primary-dark);
}
